.main {
  position: relative;
  max-width: 1900px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-inline: auto;
  padding: 1rem;
  min-height: 100vh;
}

.userMain {
  max-width: 1900px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  max-height: 100vh;
  height: 100%;
}