.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: 1900px;
    width: 100%;
    background-image: url("../assets/background-contact-form.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-right: 140px;
    max-width: 530px;
    width: 100%;
}