.container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 270px;
    padding-right: 140px;
    width: 60%;
    z-index: 100;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}

.copyright {
    font-size: 18px;
    line-height: 24px;
}