.container {
    margin-top: 55px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1900px;
    width:100%;
}